{% extends 'base.html.twig' %}

{% block title %}Главная - Интернет-магазин{% endblock %}

{% block body %}
    <h1 class="mb-4">Добро пожаловать в наш магазин!</h1>
    <p>Здесь будет контент главной страницы...</p>
{% endblock %}